* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Reem Kufi", sans-serif;
  background-color: #f4f4f4;
  color: #111111;
  font-size: 16px;
  scroll-behavior: smooth;
}

/*NAV BAR STYLING*/
.logo {
  background-image: url("logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 6vw;
  height: 4.5vh;
}

.nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 3vh;
  position: fixed;
  background-color: #bec3c4;
}

.menu a {
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
}

.menu a:hover {
  border-bottom: 2px solid #777777;
}

.menu a:last-child {
  padding-right: 0;
}

.hero-container {
  background-image: url("");
  background-color: #dad8d8;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 3vh;
}

.img-container {
  background-image: url("profile-img.jpg");
  background-position: center;
  margin: 2.8rem 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50vw;
  height: 80vh;
}

.text-container {
  width: 50vw;
  padding: 10rem 1.8rem 2rem 1.8rem;
}
.text-container h1 {
  margin-top: 0.7rem;
  font-size: 2.3rem;
}
.text-container p {
  font-family: "Noto Sans", sans-serif;
  line-height: 2.2vw;
  margin: 1.8rem 0 4.5rem 0;
}
.text-container #work-btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #f4f4f4;
  font-family: "Noto Sans", sans-serif;
  border-bottom-right-radius: 0.85rem;
  padding: 1.2rem 1rem;
  background-color: #555555;
  box-shadow: 3px 2px 2px rgba(157, 178, 182, 0.726);
  transition: color 2s ease-out;
}
.text-container #work-btn:hover {
  color: #333333;
  background-color: #999999;
}
.text-container h3 {
  padding-bottom: 1.5rem;
  color: #455052;
}
.text-container .btn-title {
  padding-bottom: 5.5rem;
}

/* ANIMATION heroAA

.anim1 {
    padding-top: 0px;
    animation-name: hello;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes hello {
    0% {opacity: 0;  }
    100% {opacity: 1;}
}

.anim2 {

    animation-name: heroText;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

@keyframes heroText {
    0% {left: -1000px;}
    100% {left: 0;}
}


.hero-btn{
    animation-name: btn;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

@keyframes btn {
    0% {bottom: -1000px;}
    100% {bottom: 0;}
}


#hero-img{
    position: absolute;
    animation-name: profile;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;

}

@keyframes profile {
    0% {right: -1000px;}
    100% {right: 0;}
} */
.experience-skills-container {
  width: 100vw;
  height: 90vh;
  color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 3vh;
}

.experience-container {
  flex-basis: 50%;
  height: 90vh;
  font-family: "Noto Sans", sans-serif;
  padding: 3vh;
}

.skills-container {
  flex-basis: 50%;
  display: flex;
  text-align: center;
  gap: 3vh;
  padding: 3vh;
  flex-direction: column;
}
.skills-container .img-skills {
  width: 3rem;
}
.skills-container .text-skills {
  font-size: 0.8rem;
}

[class^=blocky-] {
  display: flex;
  gap: 3vh;
  height: 28.3333333333vh;
}

/*
& #work-btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: $color1;
    font-family: $second-font;
    border-bottom-right-radius: .85rem;
    padding: 1.2rem 1rem;
    background-color: $color4;
    box-shadow: 3px 2px 2px rgba(157, 178, 182, 0.726);
    transition: color 2s ease-out;
}
& #work-btn:hover{
    color: $color5;
    background-color: $color2;

}
*/
[class^=skills-box] {
  background-color: rgb(253, 252, 253);
  padding-top: 1.2rem;
  width: 5rem;
  height: 7rem;
  border-bottom-right-radius: 1.5rem;
  flex-basis: 33.3333333333%;
  box-shadow: 3px 2px 2px rgba(157, 178, 182, 0.726);
  transition: color 2s ease-out;
}

[class^=skills-box]:hover {
  color: #333333;
  background-color: rgba(243, 241, 241, 0.322);
}

/*FOR TESTING*/
.portfolio-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  background-color: #dad8d8;
}

.filterBtns {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0rem;
}

.projects-Container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 3vh;
}

[class^=blocky-] {
  display: flex;
  flex-direction: row;
  height: 33.3333333333vh;
  gap: 3vh;
  padding: 3vh;
  justify-content: center;
  align-items: center;
}

.projects-card {
  color: #002e33;
  cursor: pointer;
  display: none;
  margin-bottom: 5rem;
}
.projects-card img {
  width: 15rem;
  box-shadow: 3px 5px 4px rgba(201, 206, 207, 0.726);
}
.projects-card h3 {
  font-family: "Noto Sans", sans-serif;
  margin: 0.7rem 0rem;
}
.projects-card h4 {
  margin-bottom: 1.7rem;
  color: #777777;
}
.projects-card a {
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  border-bottom-right-radius: 0.85rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: #555555;
  color: #f4f4f4;
  box-shadow: 3px 2px 2px rgba(175, 224, 226, 0.726);
}
.projects-card a:hover {
  color: #333333;
  background-color: #999999;
}

[class^=block-] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*PROJECTS CARDS*/
[class^=boxa-] {
  padding: 3vh;
  background-color: #f4f4f4;
  box-shadow: 5px 10px 5px rgb(196, 192, 192);
  border-bottom-right-radius: 1.85rem;
}

[class^=boxa-]:hover {
  background-color: #e6e6e6;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.3333333333%;
}

.btn {
  cursor: pointer;
  background-color: #798a8b;
  border: none;
  padding: 1rem 1.5rem;
  border-bottom-right-radius: 0.85rem;
  font-weight: 600;
  color: #f0f9fa;
  margin: 1.15rem 2rem;
  font-size: 1.2rem;
  box-shadow: 3px 2px 2px rgba(157, 178, 182, 0.726);
}

.btn:hover {
  background-color: #d5e2e2;
  color: #046874;
}

.btn.active {
  background-color: #046874;
  border-radius: 10px;
  font-weight: 600;
  color: #39dae6;
}

/*ABOUT ME CONTAINER*/
.about-container {
  width: 100VW;
  height: 80vh;
  background-color: rgba(223, 222, 221, 0.747);
  box-shadow: 5px 10px 5px rgba(21, 84, 97, 0.726);
  padding: 3vh;
  gap: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about-container .about-text {
  flex-basis: 60%;
}
.about-container .about-text h2 {
  border-bottom: 2px solid rgb(196, 195, 195);
  font-size: 2rem;
}
.about-container h3 {
  color: #555555;
  margin-top: 1.5rem;
}
.about-container p {
  font-family: "Noto Sans", sans-serif;
  margin-top: 2rem;
  line-height: 1.5;
}
.about-container .img-id-2 {
  width: 15rem;
  height: 17rem;
  border-radius: 48% 52% 46% 54%/67% 58% 42% 33%;
}
.about-container .img-id-2:hover {
  border-radius: 72% 28% 55% 45%/37% 75% 25% 63%;
}

/*CONTACT ME CONTAINER*/
.contact-container {
  width: 100VW;
  height: 70vh;
  background-color: rgb(184, 192, 184);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3vh;
  gap: 3vh;
}
.contact-container img {
  width: 3.5rem;
}
.contact-container a {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 1.5rem;
}
.contact-container .media-icon {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae0e0;
  padding: 2rem 4rem;
  box-shadow: 3px 2px 2px rgba(157, 178, 182, 0.726);
  border-bottom-right-radius: 1.85rem;
}
.contact-container .media-icon:hover {
  background-color: rgba(243, 243, 243, 0.8549019608);
  box-shadow: 3px 2px 2px rgba(158, 198, 204, 0.849);
}/*# sourceMappingURL=style.css.map */