* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Reem Kufi", sans-serif;
  background-color: #f4f4f4;
  color: #111111;
  font-size: 16px;
  scroll-behavior: smooth;
}

/*NAV BAR STYLING*/
.logo {
  background-image: url("logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 6vw;
  height: 4.5vh;
}

.nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 3vh;
  position: fixed;
  background-color: #bec3c4;
}

.menu a {
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #333333;
}

.menu a:hover {
  border-bottom: 2px solid #777777;
}

.menu a:last-child {
  padding-right: 0;
}

.hero-container {
  background-color: #dad8d8;
  width: 100vw;
  display: flex;
  padding: 3vh;
  padding-top: 4rem;
}

.img-container {
  background-image: url("profile-img.jpg");
  background-position: center;
  margin: 2.8rem 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50vw;
  height: 80vh;
}

.text-container {
  width: 50vw;
  padding: 10rem 1.8rem 2rem 1.8rem;
}
.text-container h1 {
  margin-top: 0.7rem;
  font-size: 2.3rem;
}
.text-container p {
  font-family: "Noto Sans", sans-serif;
  line-height: 2.2vw;
  margin: 1.8rem 0 4.5rem 0;
}
.text-container .hero-btn {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #f4f4f4;
  font-family: "Noto Sans", sans-serif;
  border-bottom-right-radius: 0.85rem;
  padding: 1.2rem 1rem;
  background-color: #555555;
  box-shadow: 3px 2px 2px rgba(157, 178, 182, 0.726);
  transition: background-color 0.4s;
}
.text-container .hero-btn:hover {
  color: #333333;
  background-color: #999999;
}
.text-container h3 {
  padding-bottom: 1.5rem;
  color: #455052;
}
.text-container .btn-title {
  padding-bottom: 5.5rem;
}

.experience-skills-container {
  width: 100vw;
  height: 90vh;
  color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 3vh;
}

.experience-container {
  flex-basis: 50%;
  height: 90vh;
  font-family: "Noto Sans", sans-serif;
  padding: 3vh;
}

.skills-container {
  flex-basis: 50%;
  display: flex;
  text-align: center;
  gap: 3vh;
  padding: 3vh;
  flex-direction: column;
}
.skills-container .img-skills {
  width: 3rem;
}
.skills-container .text-skills {
  font-size: 0.8rem;
}

[class^=blocky-] {
  display: flex;
  gap: 3vh;
  height: 28.3333333333vh;
}

[class^=skills-box] {
  background-color: rgb(253, 252, 253);
  padding-top: 1.2rem;
  width: 5rem;
  height: 7rem;
  border-bottom-right-radius: 1.5rem;
  flex-basis: 33.3333333333%;
  box-shadow: 3px 2px 2px rgba(157, 178, 182, 0.726);
  transition: color 2s ease-out;
}

[class^=skills-box]:hover {
  color: #333333;
  background-color: rgba(243, 241, 241, 0.322);
}

/*PORTFOLIO SECTION*/
.portfolio-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  background-color: #dad8d8;
}

.filterBtns {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0rem;
}

.projects-Container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 3vh;
}

[class^=blocky-] {
  display: flex;
  flex-direction: row;
  height: 33.3333333333vh;
  gap: 3vh;
  padding: 3vh;
  justify-content: center;
  align-items: center;
}

.projects-card {
  color: #002e33;
  cursor: pointer;
  display: none;
  margin-bottom: 5rem;
  margin-left: 2.5vw;
}
.projects-card img {
  width: 15rem;
  box-shadow: 3px 5px 4px rgba(201, 206, 207, 0.726);
}
.projects-card h3 {
  font-family: "Noto Sans", sans-serif;
  margin: 0.7rem 0rem;
}
.projects-card h4 {
  margin-bottom: 1.7rem;
  color: #777777;
}
.projects-card a {
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  border-bottom-right-radius: 0.85rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background-color: #555555;
  color: #f4f4f4;
  box-shadow: 3px 2px 2px rgba(175, 224, 226, 0.726);
}
.projects-card a:hover {
  color: #333333;
  background-color: #999999;
}

[class^=block-] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*PROJECTS CARDS*/
[class^=boxa-] {
  padding: 3vh;
  background-color: #f4f4f4;
  box-shadow: 5px 10px 5px rgb(196, 192, 192);
  border-bottom-right-radius: 1.85rem;
  transition: transform 0.3s;
}

[class^=boxa-]:hover {
  background-color: #e6e6e6;
  transform: skew(5deg, 3deg);
}

.graphic-design-container {
  display: flex;
  flex-direction: column;
  padding: 3vh;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #777777;
}
.graphic-design-container .graphic-title {
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.graphic-design-container .graphics-img a {
  text-decoration: none;
  color: #999999;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #71cfd6;
  background-color: #798a8b;
  margin: 1.5rem 0;
  padding: 1rem 1.2rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 3px 5px 4px rgba(108, 113, 114, 0.726);
  transition: transform 0.2s;
}
.graphic-design-container .graphics-img a:hover {
  transform: scale(1.3);
  color: #c6dddf;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 33.3333333333%;
}

.btn {
  cursor: pointer;
  background-color: #798a8b;
  border: none;
  padding: 1rem 1.5rem;
  border-bottom-right-radius: 0.85rem;
  font-weight: 600;
  color: #faf1f0;
  margin: 1.15rem 2rem;
  font-size: 1.2rem;
  box-shadow: 3px 2px 2px rgba(157, 178, 182, 0.726);
  transition: transform 0.2s;
}

.btn:hover {
  background-color: #d5e2e2;
  color: #046874;
  transform: rotate(0.05turn);
}

.btn.active {
  background-color: #046874;
  border-radius: 10px;
  font-weight: 600;
  color: #39dae6;
}

/*ABOUT ME CONTAINER*/
.about-container {
  width: 100VW;
  height: 80vh;
  background-color: rgba(223, 222, 221, 0.747);
  box-shadow: 5px 10px 5px rgba(21, 84, 97, 0.726);
  padding: 3vh;
  gap: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about-container .about-text {
  flex-basis: 60%;
}
.about-container .about-text h2 {
  border-bottom: 2px solid rgb(196, 195, 195);
  font-size: 2rem;
}
.about-container h3 {
  color: #555555;
  margin-top: 1.5rem;
}
.about-container p {
  font-family: "Noto Sans", sans-serif;
  margin-top: 2rem;
  line-height: 1.5;
}
.about-container .img-id-2 {
  width: 15rem;
  height: 17rem;
  border-radius: 48% 52% 46% 54%/67% 58% 42% 33%;
}
.about-container .img-id-2:hover {
  border-radius: 72% 28% 55% 45%/37% 75% 25% 63%;
}

/*CONTACT ME CONTAINER*/
.contact-container {
  width: 100VW;
  height: 10vh;
  background-color: rgb(184, 192, 184);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact-container a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 1.5rem;
}
.contact-container a:hover {
  color: #a4e4eb;
}
.contact-container a span {
  display: none;
  transition: transform 0.4s;
}
.contact-container a:hover span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: scale(2, 1.4);
  margin-top: 0.7rem;
}

.footer {
  background-color: #8d8e8f;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw 35vw;
}
.footer img {
  width: 3.5rem;
  height: 3.5rem;
  transition: transform 0.2s;
}
.footer img:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 860px) {
  .logo {
    display: none;
  }
  .menu a {
    font-size: 1rem;
    font-weight: 800;
  }
  .hero-container {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 5rem 0.7rem;
  }
  .img-container {
    display: none;
  }
  .text-container {
    width: 90vw;
    padding: 1rem 0.2rem;
  }
  .text-container h1 {
    margin-top: 0.7rem;
    font-size: 1.2rem;
  }
  .text-container p {
    font-family: "Noto Sans", sans-serif;
    line-height: 6.5vw;
  }
  .text-container .hero-btn {
    padding: 0.8rem 1rem;
  }
  .text-container .btn-title {
    padding-bottom: 2.5rem;
  }
  .experience-skills-container {
    width: 100vw;
    color: #333333;
    flex-direction: column;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .skills-container {
    display: grid;
  }
  .skills-container .img-skills {
    width: 3rem;
  }
  .skills-container .text-skills {
    font-size: 0.8rem;
  }
  [class^=blocky-] {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .btn {
    padding: 0.5rem 1rem;
    border-bottom-right-radius: 0.85rem;
    margin: 0rem 0.5rem;
    font-size: 1rem;
  }
  .about-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    padding: 2rem 3vw;
  }
  .contact-container a {
    font-size: 1.2rem;
  }
  .portfolio-container {
    padding: 1vw;
  }
}/*# sourceMappingURL=style.css.map */